*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body
{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #4d055a;
}
.nav-list
{
    margin-left: auto;
    align-items: right;
}
.nav-list ul
{
    margin-top: 20px;
    align-items: center;
    position: relative;
    display: flex;
}
.nav-list ul li
{
    list-style: none;
}
.nav-list ul li a
{
    margin: 5px;
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
    letter-spacing: 2px;
}
.lista
{
    position: relative;    
}
.lista ul
{
    text-align: center;
    position: relative;
}
